.filter-section{
    position: fixed;
    bottom: 0px;
    left: 340px;
    top: 100px;
    width: 260px;
    z-index: 100;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #D5CFB5;

    border: none;
    border-radius: 10px;
}

    .sort-section{
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 205px;
        height: 75px;

        background-color: white;
        border: 2px solid #9E841E;
        border-radius: 10px;

        padding: 15px;
        margin-top: 22px;
        margin-bottom: 10px;
    }

    .sort-section p{
        font-size: 19px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(23, 63, 39);

        margin-top: 2px;
    }

        .sort-section .dropdown-section {
            position: relative;
            
            width: 100%;
            font-weight: bold;
            font-size: 16px;
            color: rgb(23, 63, 39);
        }

            .sort-section .dropdown-button {
                width: 100%;
                padding: 10px;
                
                background: white url("../../../../../public/img/Product-Mgmt/display-product/arrow.png") no-repeat right 0.4rem center;
                background-size: 18px 18px;
                
                font-size: 15px;
                font-weight: bold;
                color: rgb(23, 63, 39);
                font-family: 'Courier New', Courier, monospace;
                text-align: left;

                border: 1px solid #9E841E;
                border-radius: 10px;

                cursor: pointer;
            }

            .sort-section .dropdown-button:focus{
                outline: none;
                box-shadow: 0 0 0 2px #c9b76b; 
            }

            .sort-section .dropdown-list {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;

                background: white;
                border: 1px solid #9e841e;
                border-radius: 10px;

                margin-top: 5px;
                box-shadow: 0 4px 6px rgba(0,0,0,0.1);
                z-index: 10;
            }


            .sort-section .dropdown-item {
                padding: 10px;
                border-radius: 10px;
                color: rgb(23, 63, 39);

                font-family: 'Courier New', Courier, monospace;
                cursor: pointer;
                text-wrap: nowrap;
            }

            .sort-section .dropdown-item:hover {
                background: rgb(200, 200, 200);
            }


    .product-section{
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 205px;

        background-color: white;
        border: 2px solid #9E841E;
        border-radius: 10px;

        padding: 10px 15px 2px 15px;
    }

    .product-section p{
        font-size: 19px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        color: rgb(23, 63, 39);

        margin-top: 10px;
    }

        .checkbox-section{
            font-family: 'Courier New', Courier, monospace;
            font-weight: 500;
            font-size: 16px;
            margin-bottom: 15px;
        }

            .checkbox-section input{
                display: none;
            }

            .checkbox-section .checkmark{
                display: inline-block;
                width: 19px;
                height: 18px;
                background: white url('../../../../../public/img/Product-Mgmt/display-product/unchecked.png') no-repeat;
                background-size: contain;
                vertical-align: middle;
                margin-right: 7px;
                cursor: pointer;
            }

            .checkbox-section input:checked + .checkmark{
                transition: background 0.1s;
                background: white url('../../../../../public/img/Product-Mgmt/display-product/checked.png') no-repeat;
                background-size: contain;
                cursor: pointer;
            }