body{
    margin: 0px;
}

.updateProduct .product-overview-grid{
    display: grid;
    grid-template-columns: 850px 1fr;
}

    .updateProduct .product-image-section{
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }

        .updateProduct .main-display-img{
            width: 700px;
            height: 450px;

            object-fit: cover;
            object-position: center;

            border-radius: 100px;
            margin-bottom: 30px;
        }

    
    .updateProduct .upload-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: 30px;
    }

        .updateProduct .upload-box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 110px;
            height: 110px;

            background-color: #f8f5ee;
            border: 2px solid #9e841e;
            border-radius: 10px;

            cursor: pointer;
            transition: transform 0.1s ease, box-shadow 0.2s ease;
        }

        .updateProduct .upload-box:hover {
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
        }

        .updateProduct .upload-box:active {
            transform: translateY(2px);
            box-shadow: none;
        }

        /* hide input file */
        .updateProduct .upload-box input[type="file"] {
            display: none;
        }

        .updateProduct .removepicBtn{
            position: absolute;
            top: 0px;
            right: 0px;

            color: white;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            font-size: 18px;
            background-color: #9E841E;

            border: none;
            border-radius: 2px;
            cursor: pointer;            
        }

        .updateProduct .upload-icon {
            width: 60px;
            height: 60px;
            object-fit: contain;
            opacity: 0.8;
            transition: opacity 0.3s ease;
        }

        .updateProduct .upload-box img.preview {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;
        }


    .updateProduct .product-details{
        width: 500px;
        height: 570px;
        margin-left: 65px;
        padding: 20px 30px 20px 30px;

        background-color: rgb(158, 132, 30, 0.8);
        border-radius: 20px;
        
    }

        .updateProduct .label{
            color: white;
        }

        .updateProduct .product-title-input{
            width: 100%;
            box-sizing: border-box;

            color: #9E841E;
            font-size: 22px;
            font-weight: bold;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;

            background-color: white;
            border: 3px solid #9E841E;
            border-radius: 10px;

            padding: 15px 15px 15px 15px;
        }

        .updateProduct .product-stats-section{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;

            color: white;
            font-size: 16px;

            margin-top: 20px;
            margin-bottom: 20px;
        }

        .updateProduct .stats-input input{
            border: 2px solid #9E841E;
            border-radius: 10px;

            color: #B99B26;
            font-weight: bold;
            text-align: center;
            background-color: #f8f5ee;

            width: 100px;
            padding: 5px 10px 5px 10px;
        }


        .updateProduct .product-description-section{
            height: 280px;
            width: 100%;
            box-sizing: border-box;

            color: #9E841E;
            font-size: 16px;
            font-family: 'Times New Roman', Times, serif;
            background-color: white;
            text-align: justify;
            line-height: 23px;

            border: 3px solid #9E841E;
            border-radius: 10px;

            margin-top: 10px;
            margin-bottom: 35px;
            padding: 20px 20px;
        }

        
        .updateProduct .product-details .dropdown-section {
            position: relative;
            
            width: 222px;
            font-weight: bold;
            font-size: 16px;
            color: rgb(23, 63, 39);
        }

            .updateProduct .product-details .dropdown-button {
                width: 222px;
                padding: 10px;
                
                background: #f8f5ee url("../../../../../public/img/Product-Mgmt/update-product/up-arrow.png") no-repeat right 0.6rem center;
                background-size: 18px 18px;
                
                font-size: 15px;
                font-weight: bold;
                color: rgb(23, 63, 39);
                font-family: 'Courier New', Courier, monospace;
                text-align: left;

                border: 2px solid #9E841E;
                border-radius: 10px;

                cursor: pointer;
            }

            .updateProduct .product-details .dropdown-list {
                position: absolute;
                bottom: 45px;
                left: 0px;
                width: 438px;
                background: #f8f5ee;
                border: 2px solid #9e841e;
                border-radius: 10px;
                margin-top: 5px;
                box-shadow: 0 4px 6px rgba(0,0,0,0.1);
                z-index: 10;

                display: grid;
                grid-template-columns: repeat(2, 1fr);  /* 2 columns */
                grid-auto-rows: min-content;
                gap: 5px 0px;                           /* spacing between rows and columns */
                max-height: calc(5 * 60px);             /* each row roughly 51px tall */
                overflow-y: auto;                       /* scroll if too many rows */
                padding: 8px;
            }


            .updateProduct .product-details .dropdown-item {
                padding: 10px;
                border-radius: 10px;
                color: rgb(23, 63, 39);

                font-family: 'Courier New', Courier, monospace;
                cursor: pointer;
                text-wrap: nowrap;
            }

            .updateProduct .product-details .dropdown-item:hover {
                background: #ebe3c4;
            }


    .updateProduct .product-title-input:focus,
    .updateProduct .product-description-section:focus,
    .updateProduct .stats-input input:focus,
    .updateProduct .product-details .dropdown-button:focus {
        outline: none;
        box-shadow: 0 0 0 2px #c9b76b;
    }            