.updateProduct .header-section{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

    .updateProduct .chai-logo{
        width: 250px;

        object-fit: cover;
        object-position: center;

        margin-left: 70px;
    }

    .updateProduct .option-section{
        display: flex;
        flex-direction: row;

        justify-content: space-around;
        align-items: center;

        width: 500px;
        padding: 0px 60px 0px 60px;
    }

        .updateProduct .option-section button{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            font-size: 15px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            color: #9E841E;
            background-color: white;

            border: 2px solid #9E841E;
            border-radius: 10px;

            padding: 5px 10px 5px 10px;
            transition: 0.2s ease;
            cursor: pointer;
        }

        .updateProduct .option-section button:hover {
            background-color: #ebe3c4;
        }

        .updateProduct .option-section img{
            width: 22px;
            margin-right: 8px;
        }


.updateProduct .alert-section {
    position: fixed; 
    top: 20px;
    right: 55px;

    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
    padding: 20px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 9999;
    animation: fadeIn 0.3s ease, fadeOut 0.3s ease 2.7s;
    color: #fff;
}

.updateProduct .alert-success {
      background-color: rgb(33, 80, 39);
}

.updateProduct .alert-error {
    background-color: #dc3545;
}

.updateProduct .alert-warning {
    background-color: #ffc107;
    color: #333;
}

.updateProduct .alert-info {
    background-color: #17a2b8;
}

/* smooth appear/disappear animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-10px); }
}
        